.countries-list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 100vh;
    width: 30%;
    margin: 0 10px;
    padding: 0;
    border: 3px solid #cfefe5;
    border-radius: 4px;
}
.country{
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.country:hover{
    background: #b6e0e7;
}
.country:active{
    background: #cfefe5;
}
.active{
    background: #cfefe5;
}