.Hw61 {
    max-height: 70vh;
    width: 70%;
    background: whitesmoke;
}

.preloader {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./assets/imgs/preloader.gif");
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9cc7e7;
}

::-webkit-scrollbar-thumb:hover {
    background: #4860a7;
}