.ChuckJokes-wrapper {
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding: 30px 0;
    margin: 50px 0;
    min-height: 400px;
}

.ChuckJokes-wrapper input{
max-width: 50px;
}
.preloader{
    margin: 50px auto;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-image: url("../../assets/img/preloader.gif");
}