.PlayingField-wrapper{
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 240px;
    padding: 20px;
    border: 1px solid black;
    position: relative;
}
.PlayingField-game{
    margin-top: 50px;
}