.NavBar-wrapper {
    text-align: center;
    z-index: 500;
    padding: 5px 10px;
    width: 100%;
    background: #f1f8e5;
    display: flex;
    justify-content: center;
    align-items: center;

}
.NavBar-items-wrapper {
    display: inline-flex;
    overflow: hidden;
    padding: 5px 10px;
    background: #e7e8e5;
    border-radius: 10px;
    overflow-x: scroll;
    margin: 5px 15px;
}


.NavBar-item {
    background: white;
    margin: 5px 3px;
    padding: 5px;
    border-radius: 8px;
    border-color: darkgray;
    color: black;
    text-decoration: none;
}

.NavBar-item:hover{
    background: #eef8dd;
}

.NavBar-item:active{
    background: #d6f1a7;
}