.Hw59 {
    background: blanchedalmond;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

.Hw59 input,.Hw59 button {
    border: none;
    font-size: 20px;
    padding: 5px 10px;
}
.Hw59 button:hover{
    background: #dbd3d3;
    cursor: pointer;
}
.Hw59 button:active{
    background: #9a9494;
}
