.img{
    height: 50px;
    width: 50px;
    background-size: contain;
}
.item-wrapper{
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.35);
}
.item-wrapper:hover{
    background: seashell;
}
.item-wrapper:active{
    background: #f8e4d5;
}
.item-info{
    padding-left: 8px;
}
.item-wrapper p {
    margin: 10px 0;
}
.Hamburger {
    background-image: url("../../../assets/imgs/hamburger.png");
}
.Cheeseburger {
    background-image: url("../../../assets/imgs/Cheeseburger.png");
}
.Fries {
    background-image: url("../../../assets/imgs/fries.png");
}
.Coffee {
    background-image: url("../../../assets/imgs/coffee.png");
}
.Tea {
    background-image: url("../../../assets/imgs/tea.png");
}
.Cola {
    background-image: url("../../../assets/imgs/cola.png");
}
