.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: honeydew;
}
.homework-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-style: italic;
}
*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9cc7e7;
}

::-webkit-scrollbar-thumb:hover {
    background: #4860a7;
}